.ipynb_checkpoints/
__pycache__/
*.py[cod]
*$py.class
.DS_Store
**/paper/
ornament_classification.egg-info/
ornament_classification/build/*
ornament_classification/dist/
ornament_classification/src/hcm_transcription.egg-info/
saraga1.5_hindustani/